<!-- delete contact modal -->
<!--<script type="text/ng-template" id="deleteContactModal" />-->
<div modal="contactDelete">
    <div class="modal-header">
        <h3>Confirmation</h3>
    </div>
    <div class="modal-body">
        Are you sure you'd like to delete {{ name }}?
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger ok" ng-click="deleteContact()">OK</button>
        <button class="btn btn-warning cancel" ng-click="cancel()">Cancel</button>
    </div>
</div>
<!--</script>-->
