<p ng-show="showMessage"> {{ message }}</p>
<ul class="inline">
  <li ng-if="contacts.length == 0">Nie ma zapisanych kontaktów.</li>
  <li ng-if="contacts.length == 1">Zapisano {{ contacts.length }} kontakt.</li>
  <li ng-if="contacts.length > 1">Zapisano {{ contacts.length }} kontaktów.</li>
</ul>

  <div class="row">
    <div class="col-sm-3 col-xs-12 col-lg-3">
      <form class="form-search">
          <div class="input-group">
              <input type="text" class="form-control " placeholder="Search..." ng-model="query">
              <span class="input-group-btn">
                  <button type="submit" class="btn btn-search">Szukaj</button>
              </span>
          </div>
      </form>
    </div>

    <a class="btn btn-info" ng-click="add()"><i class="glyphicon-plus glyphicon"></i> </a>
<!--  <button class="btn btn-info" type="submit" ng-model="pseonly"><i class="glyphicon-minus-sign glyphicon"></i> </button>-->
  </div>

  <div class="row">
      <div class="col-md-12 center-block"><p class="bg-success">.</p></div>
  </div>

  <div class="row">
  <div class="col-md-12">
    <tabset>
        <tab ng-repeat="workspace in workspaces" heading="{{workspace.name}}" active=workspace.active >
            <div ng-include="workspace.contentURL"></div>
        </tab>
    </tabset>
  </div>
  </div>